parameters:
    paths:
        - src
    excludePaths:
        - src/OceanMoon/Sniffs/WhiteSpace/ScopeIndentSniff.php
    treatPhpDocTypesAsCertain: false
    scanDirectories:
        - vendor/squizlabs/php_codesniffer
